html, body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#ededed;
	padding:10px;
	text-align:center;
	border-radius: 5px;
}
#content {
	padding-bottom:60px; /* Height of the footer element */
}
#panel {
	line-height: 35px;
	height: 500px;
	float: left;
	width: 20%;
  	max-width: 300px;
  	min-width: 150px;
	margin-left: 40px;
	padding-top: 20px;
	margin-right: 20px;
	overflow: scroll;
 }

#text {
  	width: 65%;
  	max-width: 700px;
  	height: 500px;
  	padding-right: 10px;
  	padding-left: 10px;
  	margin-left: 20%;
  	overflow: scroll;
  }

#navigation {
	
	margin-left: 30px;
}

#footer {
	background:#ffab62;
	width:100%;
	height:50px;
	position:absolute;
	bottom:0;
	left:0;
	text-align: center;
	padding-top: 5px;
	border-radius: 5px;
}

.word {
	transition: background-color 0.3s ease;
}

.selected {
	background: #FFCC99;
	border-radius: 4px;
}

.clickedInText {
	background: #FFCC99;
	border-radius: 2px;
}

.focusedInText {
	background: #F08080 !important;
	border-radius: 2px;

}

.wordEntry {
	width: 100%;
	border-radius: 0.1;
	padding-left: 5px;
	transition: background-color 0.1s ease;

}
/* The hover class can be activated by hovering 
	over other elements then wordEntry. */
.wordEntryHover {
	background: #D3D3D3;
	border-radius: 5px;
}

.buttonOn {
	background: #C0C0C0 !important;
	border-radius: 5px;
}

.delButton{
	float: right;
	display: inline-block;
	/*
	height: 34px;
	width: 34px;
	*/
}

.prev {}

.next {}
